:root{
    --color-1: #f4645f;
    --color-2: #e1e1e1;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: var(--color-1);
}
::-webkit-scrollbar-button{
    display: none;
}
body{
    background-color: #000;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Poppins";
}
#blank{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 5vw;
}
#header{
    color: #fff;
    position: fixed;
    top: 0;
    right: 5vw;
    height: 14.2857vh;
    width: 75vw;
    border-right: var(--color-2);
    text-align: left;
    padding-left: 5vw;
    z-index: 5;
}
.moto{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#logo{
    position: fixed;
    top: 0;
    right: 80vw;
    height: 14.2857vh;
    width: 20vw;
    border-right: var(--color-2);
    border-bottom: var(--color-2);
    text-align: center;
}
#logo h1{
    color: var(--color-1);

}
.linktitle, #logo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#links{
    position: fixed;
    top: 14.2857vh;
    right: 80vw;
    height: 85.7143vh;
    width: 20vw;
    border-right: var(--color-2);
}
#services, #about, #contact{
    font-size: small;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    color: var(--color-2);
    height: 33.3%;
    cursor: pointer;
}
#services:hover, #about:hover, #contact:hover{
    background-color: var(--color-1);
    color: black;
}
#services, #about{
    border-bottom: var(--color-2);
}
#content{
    position: fixed;
    top: 14.2857vh;
    right: 5vw;
    border-right: var(--color-2);
    border-top: var(--color-2);
    background-color: #fff;
    display: grid;
    grid-template-rows: 85.7143vh 257.1429vh 85.7143vh 85.7143vh;
    grid-template-columns: 75vw;
}
#intro{
    position: relative;
    grid-area: 1/1/2/2;
    background-color: #fff;
}
#companyTitle{
    font-size: 2.8rem;
    position: absolute;
    top: 21.43vh;
    left: 5vw;
    color: var(--color-2);
}
#introText{
    position: absolute;color: #fff;top: 29.99vh; left: 5vw; height: 40vh; width: 65vw; background-color: var(--color-2);
}
#introButton{
    position: absolute; font-size: larger; top: 68.57vh; left: 5vw; background: var(--color-1); transition:background 1.2s;
}
#introButton:hover{
    background: var(--color-2);
}
.introbtntxt{
    font-size: small; color: #fff;
}