:root{
    --color-1: #f4645f;
    --color-2: darkgrey;
    --color-3: #fff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: var(--color-1);
}
::-webkit-scrollbar-button{
    display: none;
}
body{
    background-color: var(--color-3);
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Poppins";
}
#blank{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 5vw;
}
#header{
    color: #000;
    position: absolute;
    top: 0;
    right: 5vw;
    height: 14.2857vh;
    width: 75vw;
    border-right: 1px solid var(--color-2);
    border-bottom: 1px solid var(--color-2);
    text-align: left;
    padding-left: 5vw;
    z-index: 5;
    transition: color 1s;
}
#header.changeHeader{
    /*color: var(--color-3);*/
}
#pmenu{
    line-height: 0.2rem;
    cursor: pointer;
    right: 0;
    padding: 0.5rem;
}
.moto, #pmenu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.bar1, .bar2, .bar3{
    background-color: var(--color-1);
    display: block;
    height: 0.25rem;
    border-radius: 0.4rem;
    transition: all 1.5s;
}
.bar1{
    width: 2rem;
}
.bar2{
    width: 1.4rem;
}
.bar3{
    width: 0.8rem;
}
.slide .bar1{
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.slide .bar2{
    opacity: 0;
    visibility: hidden;
}
.slide .bar3{
    margin-top: -0.5rem;
    width: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#pmenu.slide{
    line-height: 0;
}
#logo{
    position: fixed;
    top: 0;
    right: 80vw;
    height: 14.2857vh;
    width: 20vw;
    border-bottom: 1px solid var(--color-2);
    text-align: center;
}
#logo h1 a{
    text-decoration: none;
    color: var(--color-1);
}
.linktitle, #logo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#links{
    position: fixed;
    top: 14.2857vh;
    right: 80vw;
    height: 85.7143vh;
    width: 20vw;
    z-index: 2;
}
#services, #about, #contact{
    font-size: small;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    color: var(--color-2);
    height: 33.3%;
    cursor: pointer;
    transition: color 0.5s ease-out;
    border-bottom: 1px solid var(--color-2);
}
#services:hover, #about:hover, #contact:hover{
    background-color: var(--color-1);
    color: var(--color-3);
}
#services.changeServices, #about.changeAbout, #contact.changeContact{
    color: var(--color-1);
    opacity: 0.7;
}
#content{
    position: absolute;
    top: 14.2857vh;
    right: 5vw;
    border-right: 1px solid var(--color-2);
    border-left: 1px solid var(--color-2);
    background-color: #fff;
    display: grid;
    grid-template-rows: 100.7143vh 230vh 120vh 100vh 14.2857vh;
    grid-template-columns: 75vw;
    z-index: 1;
}
#intro{
    position: relative;
    grid-area: 1/1/2/2;
    background-color: var(--color-3);
}
#eservices{
    position: relative;
    grid-area: 2/1/3/2;
    background-color: #fff;
}
#aboutus{
    position: relative;
    grid-area: 3/1/4/2;
    background-color: var(--color-3);
}
#contactus{
    position: relative;
    grid-area: 4/1/5/2;
}
#footer{
    position: relative;
    grid-area: 5/1/6/2;
    border-top: 1px solid var(--color-2);
    background: var(--color-3);
}
#companyTitle{
    font-size: 2.8rem;
    position: absolute;
    top: 20vh;
    left: 5vw;
    color: var(--color-2);
}
#introText{
    position: absolute;color: #fff;top: 30vh; left: 5vw; height: 35vh; width: 65vw; padding-top: 0; text-align: left;
}
.goal{
    font-size: 2rem;
    color: #000;
    width: 65vw;
}
#introButton{
    position: absolute; font-size: xx-large; top: 68.57vh; left: 5vw; background: var(--color-1);
    transition:background 0.1s cubic-bezier(.75,-0.5,0,1.75);
    padding-left: 2.5vw; padding-right: 2.5vw;border: none; cursor: pointer;
}
#introButton:hover{
    background: var(--color-2);
}
.introbtntxt{
    font-size: small; color: #fff; vertical-align: middle;
}
#companyBrief{
    position: absolute;
    top: 20vh;
    right: 5vw;
    width: 35vw;
    text-align: right;
    font-size: 0.8rem;
    color: var(--color-2);
}
#servicesTitle{
    position: absolute;
    top: 17vh;
    left: 5vw;
    width: 30vw;
    color: var(--color-2);
    font-size: 2.8rem;
    text-align: left;
}
#wwd1, #wwd2, #wwd3{
    position: absolute;
    left: 5vw;
    font-size: 1.8rem;
    color: #000;
}
#wwd1{
    top: 40vh;
}
#wwd2{
    top: 110vh;
}
#wwd3{
    top: 170vh;
}
#wwd1Details{
    top: 50vh;
}
#wwd2Details{
    top: 120vh;
}
#wwd3Details{
    top: 180vh;
}
#wwd1Details, #wwd2Details, #wwd3Details{
    background: var(--color-1);
    color: #fff;
    text-align: left;
    position: absolute;
    left: 5vw;
    font-size: 1.3rem;
    height: auto;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: auto;
}
#wwd1Details button, #wwd2Details button, #wwd3Details button{
    cursor: pointer;
    border: none;
    background: var(--color-3);
    color: #000;
    padding-left: 2.5vw; padding-right: 2.5vw;
    font-size: xx-large;
    float: left;
    transition:background 0.25s cubic-bezier(.75,-0.5,0,1.75);
}
#wwd1Details button:hover, #wwd2Details button:hover, #wwd3Details button:hover{
    background: #000;
    color: var(--color-3);
}
.trainingbtn, .consultbtn, .managbtn{
    font-size: small;
    vertical-align: middle;
}
#aboutus img{
    position: absolute;
    top: 0;
    right: 0;
    height: 120vh;
    width: 75vw;
    opacity: 0.05;
}
#aboutBrief{
    position: absolute;
    top: 35vh;
    left: 5vw;
    font-size: 1.4rem;
    color: var(--color-1);
    text-align: left;
    z-index: 1;
}
#companyBrief i{
    color: #000;
}
#aboutBrief i{
    color: var(--color-2);
}
#aboutPeople{
    position: absolute;
    top: 60vh;
    right: 5vw;
    text-align: right;
    font-size: 2.8rem;
    color: #000;
}
#aboutList{
    position: absolute;
    top: 75vh;
    left: 37.5vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.ppl1, .ppl2, .ppl3, .ppl4, .ppl5{
    color: var(--color-2);
    text-align: center;
    font-size: 1.2rem;
}
#contactSvg{
    position: absolute;
    top: 14.2857vh;
    right: 0;
    height: 85.714vh;
    width: 75vw;
}
#contactSvg2{
    display: none;
    position: absolute;
    top: 14.2857vh;
    right: 0;
    height: 85.714vh;
    width: 95vw;
}
#contactBody{
    position: absolute;
    top: 40vh;
    left: 5vw;
    font-size: 1.4rem;
    color: var(--color-1);
    text-align: left;
}
.contactTitle{
    font-size: 2.8rem;
    color: var(--color-2);
    text-align: center;
}
#contactTitle{
    position: absolute;
    bottom: 8vh;
    right: 5vw;
    font-size: 3rem;
    color: #fff;
}
.left{
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: var(--color-2);
    font-size: small;
}
.right{
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: var(--color-2);
    font-size: small;
}
.right a{
    text-decoration: none;
    color: var(--color-2);
}
.right a:hover{
    color: #000;
}

@media screen and (min-width: 1450px){
    body{
        font-size: 24px;
    }
    #services, #about, #contact, .trainingbtn, .consultbtn, .managbtn, .introbtntxt, .left, .right{
        font-size: large;
    }
    #companyTitle, #servicesTitle, .contactTitle{
        font-size: 3.6rem;
    }
    .goal, #introButton, #wwd1, #wwd2, #wwd3, #wwd1Details button, #wwd2Details button, #wwd3Details button{
        font-size: 2.8rem;
    }
    #companyBrief{
        font-size: 1.3rem;
    }
    #wwd3Details, #wwd2Details, #wwd1Details, #aboutBrief, .ppl1, .ppl2, .ppl3, .ppl4, .ppl5{
        font-size: 2rem;
    }
    #aboutPeople{
        font-size: 3.4rem;
    }
    #contactTitle{
        font-size: 4.4rem;
    }
    #contactBody{
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 1220px){
    .goal{
        font-size: 1.6rem;
    }
    #introText{
        top: 35vh;
    }
    #companyTitle, #servicesTitle, .contactTitle, #contactTitle, #aboutPeople{
        font-size: 2.4rem;
    }
    #servicesTitle{
        width: 25vw;
    }
    #companyBrief{
        width: 40vw;
    }
    #wwd1, #wwd2, #wwd3{
        font-size: 1.6rem;
    }
    #wwd3Details, #wwd2Details, #wwd1Details, #aboutBrief{
        font-size: 1.1rem;
    }
    #wwd1Details button, #wwd2Details button, #wwd3Details button{
        font-size: x-large;
    }
}
@media screen and (max-width: 1001px){
    #contactSvg{
        display: none;
    }
    #contactSvg2{
        display: block;
    }
    #blank{
        display: none;
    }
    #header{
        border-right: none;
    }
    #links{
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
    }
    #links.slide{
        opacity: 1;
        visibility: visible;
    }
    #services{
        border-top: 1px solid var(--color-2);
    }
    #services, #about, #contact{
        background: #000;
        font-size: x-large;
    }
    #content{
        border-left: none;
        grid-template-columns: 90vw;
    }
    #intro{
        background: none;
    }
}